@media screen and (max-device-width: 450px)
{
    body 
    {
        width: auto;
        margin: 0px;
        padding: 0px;
    }
    #header
    {
        justify-content: flex-start;
    }
    .headerNavTab
    {
        height: auto;
        flex-wrap: wrap-reverse;
    }
    #lodgingFilters {
        flex-wrap: wrap;
    }
    .filter {
        height: 7em;
        border-radius: 4em;
    }
    .iconFilter {
        border-radius: 4em;
        width: 7.4em;
        height: 7.4em;
    }
    #economicFilter {
        width: 34em;
    }
    #infoCircle {
        border: 0.1em #DEEBFF solid;
        font-size: 2.4em;
    }
    #infoLogo {
        justify-content: center;
        align-items: baseline;
    }
    #info {
        font-size: 0.8em;
    }
    #infoText {
        font-size: 2.4em;
        width: 20em;
    }
    #lodging
    {
        margin-left: 0em;
        margin-right: 0em;
    }
    .lodgingSection
    {
        flex-direction: column-reverse;
    }
    .lodging
    {
        width: auto;
        height: auto;
        background-color: #FFF;
        padding-left: 3.5em;
    }
    .card
    {
        border-radius: 3em;
        box-shadow: 0.5em 0.5em 1.5em #F2F2F2, -0.5em -0.5em 1.5em #F2F2F2;
        padding: 1.2%;
        height: 30em;
        width: 94%;
    }
    .card img 
    {
        border-top-left-radius: 3em;
        border-top-right-radius: 3em;
        height: 18em;
        width: 100%;
    }
    .infoCard {
        font-size: 2.4em;
    }
    #lodgingTown
    {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .lodgingPop
    {
        width: auto;
        height: 84em;
        border-radius: 0em;
        padding-left: 3.5em;
    }
    .lodgingPopHeader {
        padding-right: 3em;
    }
    .lodgingPopHeader i{
        font-size: 3.5em;
    }
    .lodgingPopCard {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
    .popCard {
        width: 92%;
        height: 20em;
        border-radius: 3em;
        padding: 1.2%;
        box-shadow: 0.5em 0.5em 2em #d9d9d9, -0.5em -0.5em 2em #d9d9d9;
    }
    .popCard img {
        border-bottom-left-radius: 3em;
        border-top-left-radius: 3em;
        width: 40%;
        height: 100%;
    }
    .infoCardPop {
        font-size: 2.4em;
    }
    .more {
        font-size: 2.5em;
    }
    #activity
    {
        height: auto;
        width: auto;
        margin-right: 0em;
        margin-left: 3.5em;
    }
    h2 {
        font-size: 3.5em;
    }
    .activityCards
    {
        flex-direction: column;
    }
    .actCardStyle
    {
        width: 93%;
        margin-top: 2em;
        border-radius: 3em;
        box-shadow: 0.5em 0.5em 1.5em #F2F2F2, -0.5em -0.5em 1.5em #F2F2F2;
    }
    #actCardB, #actCardC,#actCardE, #actCardF, .actCardA {
        height: 30em;
    }
    #actCardB img, #actCardC img, #actCardE img, #actCardF img, .actCardA img 
    {
        height: 22em;
    }
    .imgSetting {
        border-top-left-radius: 3em;
        border-top-right-radius: 3em;
    }
    .infoActCard {
        font-size: 2.5em;
    }
    h3 
    {
        font-size: 1.1em;
    }
    .foot
    {  
        flex-direction: column;
        height: 100%;
        gap: 2em;
    }
    .footerBlockList
    {
        font-size: 3em;
        margin-left: 0.5em;
    }
}

    
@media screen and (max-device-width: 700px)
{
    #lodgingTown
    {
        flex-wrap: wrap;
    }
    .lodging
    {
        width: auto;
        height: auto;
    }
}
