@media screen and (max-device-width: 450px)
{
    body 
    {
        width: auto;
        margin: 0px;
        padding: 0px;
    }
    #header {
        flex-wrap: wrap;
        padding-right: 0em;
        margin-left: 0em;
    }
    .headerNavTab {
        justify-content: space-between;
        flex-wrap: wrap;
        height: auto;
        width: 68em;
    }
    .logo {
        height: 2em;
        width: 18em;
        padding-left: 3em;
    }
    .resLogo {
        height: 7em;
        margin-top: 5em;
    }
    .tabItem {
        padding-top: 2em;
        font-size: 3em;
        width: 11.33em;
        border-bottom: 0.2em #DEEBFF solid;
        border-top: none;
        border-left: none;
        border-right: none;
        order: 2;
    }
    .tabItemRegister {
        order: 1;
        padding-top: 2em;
        width: 22em;
        font-size: 3em;
        padding-right: 1em;
        text-align-last: end;
    }
    h1 {
        font-size: 3em;
        margin-left: 1em;
        margin-bottom: 1em;
    }
    #subtitle {
        margin-left: 3em;
    }
    .lodgingForm {
        border: 0.2em #F2F2F2 solid; 
        border-radius: 2.5em;
        background-color: #FFF;
        width: 54em;
        height: 8em;
        margin-left: 3em;
        margin-bottom: 4em;
        margin-top: 6em;
    }
    label {
        background-color: #F2F2F2;
        width: 8.4em;
        height: 8.4em;
        border-top-left-radius: 2.5em;
        border-bottom-left-radius: 2.5em;
        margin-left: 0em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #position{
        animation: 1s jump backwards;
        animation-delay: 4s;
        animation-iteration-count: 10;
    }
    input[type=text] {
        font-size: 2.5em;
        font-weight: 800;
        padding-left: 0em;
        height: 97%;
        width: 14em;
        border: none;
    
    }
    ::placeholder {
        font-size: 1.2em;
    }
    #search {
        display: none;
    }
    #searchIcon {
        display: flex;
        width: 9.2em;
        height: 9.2em;
        border-radius: 2.5em;
        align-items: center;
        justify-content: center;
    }
    #lodgingFilters {
        flex-wrap: wrap;
        height: 40em;
        margin-left: 3em;
        margin-bottom: 5em;
    }
    #titleFilter {
        width: 20em;
        font-size: 3em;
    }
    .filter {
        height: 8em;
        border-radius: 5em;
        border-bottom: 0.5em #d9d9d9 solid;
        border-top: 0.5em #d9d9d9 solid;
        border-right: 0.5em #d9d9d9 solid;
        gap: 2em;
    }
    .iconFilter {
        border-radius: 5em;
        width: 8.8em;
        height: 8.8em;
    }
    #economicFilter {
        width: 32em;
    }
    #familyFilter {
        width: 25em;
    }
    #romanticFilter {
        width: 31em;
    }
    #animalFilter {
        width: 40em;
    }
    .infoFilter {
        font-size: 3em;
    }
    .iconSize {
        font-size: 3.5em;
    }
    #infoCircle {
        border: 0.1em #DEEBFF solid;
        font-size: 2.4em;
    }
    #infoLogo {
        justify-content: center;
        align-items: baseline;
    }
    #info {
        font-size: 0.8em;
    }
    #infoText {
        font-size: 2.4em;
        width: 20em;
    }
    #lodging
    {
        margin-left: 0em;
        margin-right: 0em;
    }
    .lodgingSection
    {
        flex-direction: column-reverse;
    }
    .lodging
    {
        width: auto;
        height: auto;
        background-color: #FFF;
        padding-left: 3.5em;
    }
    .card
    {
        border-radius: 3em;
        box-shadow: 0.5em 0.5em 1.5em #F2F2F2, -0.5em -0.5em 1.5em #F2F2F2;
        padding: 1.2%;
        height: 30em;
        width: 94%;
    }
    .card img 
    {
        border-top-left-radius: 3em;
        border-top-right-radius: 3em;
        height: 18em;
        width: 100%;
    }
    .infoCard {
        font-size: 2.4em;
    }
    #lodgingTown
    {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .lodgingPop
    {
        width: auto;
        height: 84em;
        border-radius: 0em;
        padding-left: 3.5em;
    }
    .lodgingPopHeader {
        padding-right: 3em;
    }
    .lodgingPopCard {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
    .popCard {
        width: 92%;
        height: 20em;
        border-radius: 3em;
        padding: 1.2%;
        box-shadow: 0.5em 0.5em 2em #d9d9d9, -0.5em -0.5em 2em #d9d9d9;
    }
    .popCard img {
        border-bottom-left-radius: 3em;
        border-top-left-radius: 3em;
        width: 40%;
        height: 100%;
    }
    .infoCardPop {
        font-size: 2.4em;
    }
    .more {
        font-size: 2.5em;
    }
    #activity
    {
        height: auto;
        width: auto;
        margin-right: 0em;
        margin-left: 3.5em;
    }
    h2 {
        font-size: 3.5em;
    }
    .activityCards
    {
        flex-direction: column;
    }
    .actCardStyle
    {
        width: 93%;
        margin-top: 2em;
        border-radius: 3em;
        box-shadow: 0.5em 0.5em 1.5em #F2F2F2, -0.5em -0.5em 1.5em #F2F2F2;
    }
    #actCardB, #actCardC,#actCardE, #actCardF, .actCardA {
        height: 30em;
    }
    #actCardB img, #actCardC img, #actCardE img, #actCardF img, .actCardA img 
    {
        height: 22em;
    }
    .imgSetting {
        border-top-left-radius: 3em;
        border-top-right-radius: 3em;
    }
    .infoActCard {
        font-size: 2.5em;
    }
    h3 
    {
        font-size: 1.1em;
    }
    .foot
    {  
        flex-direction: column;
        height: 70%;
        gap: 2em;
    }
    .footerBlockList
    {
        font-size: 3em;
        margin-left: 0.5em;
    }
    .headerNavTab a:hover {   
        border-top: none;
        border-bottom: none;
        border-left: none;
        border-right: none;
        color: #000;
    }
    .filter:hover .iconFilter{
        color: #DEEBFF;
        background-color: #0065FC;
        transform-origin: none;
        transform: none;
    }
    #lodgingTown:hover .card, .lodgingPopCard:hover .popCard, .activityCards:hover .actCardStyle {
        filter: none;
        opacity: 1;
        transform: none;
        box-shadow:none;
    }
    #lodgingTown:hover .card:hover, .lodgingPopCard:hover .popCard:hover, .activityCards:hover .actCardStyle:hover {
        transform: none;
        filter: none;
        box-shadow: none;
    }
    .footLink:hover, .more:hover {
        filter: none;
    }  
    
    .filter:active .iconFilter{
        color: #DEEBFF;
        background-color: #0065FC;
        transform-origin: center;
        transform: rotate(15deg);
    }
    #lodgingTown:active .card, .lodgingPopCard:active .popCard, .activityCards:active .actCardStyle {
        filter: grayscale(20%);
        opacity:.5;
        transform: scale(.98);
        box-shadow:none;
    }
    #lodgingTown:active .card:active, .lodgingPopCard:active .popCard:active, .activityCards:active .actCardStyle:active {
        transform:scale(1);
        filter: grayscale(0);
        opacity:1;
        box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
    }
    .footLink:active, .more:active {
        filter: drop-shadow(0 0.2em 0.1em #000);
    }
    .tabItem:active {
        border-bottom: 0.2em #0065FC solid;
        color: #0065FC;
    }
    @keyframes width {
        from {
            opacity: 0;  
        }
        to {
            opacity: 1;
        }
    }
    @keyframes jump {
        from {
            margin-bottom: 0%;
        }
        to {
            margin-bottom: 30%;
        }
    }    
    @keyframes slideIn {
        from {
            opacity: 0;  
            margin-left: 0%;
            width: 1%;
        }
        75% {
            opacity: 0.5;  
            margin-left: 50%;
            width: 140%;
        }
        to {
            opacity: 1;
            margin-left: 0%;
            width: 100%;
        }
    }
}
  
     
@media screen and (max-device-width: 700px)
{
    #lodgingTown
    {
        flex-wrap: wrap;
    }
    .lodging
    {
        width: auto;
        height: auto;
    }
}
