body {
    font-family: 'Raleway', sans-serif, Arial;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
    margin-left: 0em;
    margin-right: 0em;
    margin-bottom: 0em;
}
.flexCol {
    display: flex;
    flex-direction: column;
}
.flexRow {
    display: flex;
    flex-direction: row;
}
.blue {
    color: #0065FC;
}
.grey {
    color: #DEEBFF;
}
.bold {
    font-weight: 800;
}
.clickable {
    text-decoration: none;
    color: #000000;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	align-items: flex-end;
    padding-right: 1em;
    margin-left: 3em;
    margin-bottom: 2em;
}
.headerNavTab {
    animation: 2s width backwards;
    animation-delay: 4s;
    display: flex;
	flex-direction: row;
	justify-content: center;
	width: 30em;
	height: 10vh;
	align-items: center;
    font-size: 0.9em;
}
.logo {
    height: 2em;
}
.resLogo {
    animation: 3s slideIn backwards;
    animation-delay: 1s;
}
.tabItem {
    height: 2em;
    padding-top: 3em;
    width: 10em;
    text-align-last: center;
    border: 0.2em #FFF solid;
}
.tabItemRegister {
	text-decoration: none;
    height: 2em;
    padding-top: 3em;
    width: 10em;
    text-align-last: center;
    border: 0.2em #FFF solid;
}

#lodging {
    height: auto;
    margin-right: 3em;
    margin-left: 3em;
}
h1 {
    margin-bottom: 0.3em;
}
.lodgingForm {
    border: 0.08em #F2F2F2 solid; 
    border-radius: 1em;
    background-color: #F2F2F2;
    margin-top: 1.5em;
    width: 26em;
    height: 3em;
    justify-content: space-between;
    align-items: center;
}
label {
    margin-left: 1.2em;
    width: 2.2em;
}
#position{
    animation: 1s jump backwards;
    animation-delay: 7s;
    animation-iteration-count: 10;
}
input[type=text] {
    font-size: 0.8em;
    padding-left: 1em;
    height: 97%;
    border: none;

}
::placeholder {
    color: #000;
    opacity: 1;
    font-weight: 800;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif, Arial;
}
#search {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: #0065FC;
    border: none;
    color: #FFF;
    width: 10em;
    height: 3.5em;
    font-family: 'Raleway', sans-serif, Arial;
    font-size: 0.9em;
    font-weight: 700;
}
#searchIcon {
    display: none;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: #0065FC;
    border: none;
    color: #FFF;
    width: 10em;
    height: 3.5em;
    font-size: 0.9em;
}
.buttonSize {
    font-size: 1.1em;
}
#lodgingFilters {
    height: 7em;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
}
.filter {
    justify-content: start;
    align-items: center;
    gap: 1em;
    height: 3em;
    border-bottom: 0.2em #d9d9d9 solid;
    border-top: 0.2em #d9d9d9 solid;
    border-right: 0.2em #d9d9d9 solid; 
    border-radius: 3em;
    border-left: 0em #DEEBFF solid;
}
#titleFilter {
    font-size: 1.1em;
}
.infoFilter {    
    font-size: 1em;
}
#economicFilter {
    width: 12em;
}
#familyFilter {
    width: 9.5em;
}
#romanticFilter {
    width: 11.5em;
}
#animalFilter {
    width: 15em;
}
.iconFilter { 
    border-radius: 3em;
    background-color: #DEEBFF;
    height: 3.4em;
    width: 3.4em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconSize {
    font-size: 1.4em;
}
#infoLogo {
    align-items: center;
    justify-content: start;
}
#infoCircle {
    border: 0.2em #DEEBFF solid;
    background-color: #FFF;
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    text-align: center;
    font-family: Georgia;
    margin-right: 0.5em;
}
h2 {
    font-size: 1.35em;
}
.lodgingSection {
	display: flex;
    flex-direction: row;
    justify-content: space-between; 
    gap: 2em;
    margin-top: 2em;
}
.lodging {
    background-color: #F2F2F2;
    border-radius: 1.2em;
    height: 36em;
    width: 47em;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 2em;
    margin-top: 1em;
}
.lodgingPopHeader {
    justify-content: space-between;
    align-items: center;
    padding-right: 2em;
}
.lodgingPop {
    background-color: #F2F2F2;
    border-radius: 1.2em;
    height: 36em;
    width: 22em;
    padding-right: 1em;
    padding-left: 2em;
    padding-top: 2em;
    margin-top: 1em;
}
.lodgingPopCard {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2em;
}
.stars {
    font-size: 0.9em;
}
#lodgingTown {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5em;
    margin-bottom: 3em;
}
.infoCard {
    margin-left: 1em;
    margin-top: 0.3em;
    gap: 0.3em;
    font-size: 0.8em;
}
.infoCardPop {
    margin-left: 1em;
    margin-top: 0.6em;
    margin-bottom: 00.6em;
    justify-content: space-between;
    font-size: 0.8em;
}
.titleCardPop>h3 {
    margin-bottom: 0.5em;
}
.card {
    width: 14em;
    height: 11em;
    border-radius: 1.2em;
    padding: 0.3em;
    background-color: #FFF;
}
.card img {
    border-top-left-radius: 0.9em;
    border-top-right-radius: 0.9em;
    object-fit: cover;
    width: 14em;
    height: 7em;
}
h3 {
    margin: 0em;
}
.popCard {
    width: 20em;
    height: 8em;
    border-radius: 1.2em;
    padding: 0.3em;
    background-color: #FFF;
}
.popCard img {
    border-bottom-left-radius: 0.9em;
    border-top-left-radius: 0.9em;
    object-fit: cover;
    width: 8em;
    height: 8em;
}

#activity {
    height: 32em;
    margin-top: 4em;
    margin-left: 3em;
    margin-right: 3em;
}
.activityCards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
    
}
.actCardStyle {
    width: 18em;
    border-radius: 1.2em;
    background-color: #FFF;
    box-shadow: 0.3em 0.5em 1em #F2F2F2;
    padding-bottom: 0.8em;
}
.actCardBC {
    justify-content: space-between;
    gap: 2em; 
}
.infoActCard {
    margin-left: 1em;
    margin-top: 0.8em;
    font-size: 1em;
}
.actCardA {
    height: 27em;  
}
.actCardA img {
    height: 24.5em;
}
#actCardB img {
    height: 11.5em;
}
#actCardC img {
    height: 7.5em;
}
#actCardE img {
    height: 8.5em;
}
#actCardF img {
    height: 10.5em;
}
.imgSetting {
    border-top-left-radius: 0.9em;
    border-top-right-radius: 0.9em;
    object-fit: cover;
    width: 100%;
}
#actCardB {
    height: 14em;
}
#actCardC {
    height: 10em;
}
#actCardE {
    height: 11em;
}
#actCardF {
    height: 13em;
}

.foot {
    margin-top: 5em;
    width: 100%;
    height: 12em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 12em;
    background-color: #F2F2F2;
    padding-top: 2em;
}
.footerBlockList {
    list-style-type: none;
} 
li>h3 {
    margin-bottom: 1.2em;
}
.footerBlockList>li {
    margin-bottom: 0.8em;
}  
.headerNavTab a:hover {   
    border-top: 0.2em #0065FC solid;
    border-bottom: 0.2em #FFF solid;
    border-left: 0.2em #FFF solid;
    border-right: 00.2em #FFF solid;
    color: #0065FC;
}
.filter:hover .iconFilter{
    color: #DEEBFF;
    background-color: #0065FC;
    transform-origin: center;
    transform: rotate(15deg);
}
#lodgingTown:hover .card, .lodgingPopCard:hover .popCard, .activityCards:hover .actCardStyle {
    filter: grayscale(20%);
    opacity:.5;
    transform: scale(.98);
    box-shadow:none;
}
#lodgingTown:hover .card:hover, .lodgingPopCard:hover .popCard:hover, .activityCards:hover .actCardStyle:hover {
    transform:scale(1);
    filter: grayscale(0);
    opacity:1;
    box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
}
.footLink:hover, .more:hover {
    filter: drop-shadow(0 0.2em 0.1em #000);
}    
@keyframes width {
    from {
        opacity: 0;
        margin-right: 0%;  
        width: 1%;
    }
    to {
        opacity: 1;
        margin-right: 20%;
        width: 1.2%;
    }
}
@keyframes jump {
    from {
        margin-bottom: 0%;
    }
    to {
        margin-bottom: 30%;
    }
}  
@keyframes slideIn {
    from {
        opacity: 0;  
        margin-left: 0%;
        width: 1%;
    }
    75% {
        opacity: 0.5;  
        margin-left: 70%;
        width: 200%;
    }
    to {
        opacity: 1;
        margin-left: 0%;
        width: 100%;
    }
}






