@media screen and (max-device-width: 700px)
{
    #lodgingTown
    {
        flex-wrap: wrap;
    }
    .lodging
    {
        width: auto;
        height: auto;
    }
    .headerNavTab {
        animation: 2s width backwards;
        animation-delay: 4s;
        font-size: 1.3em;
    }
    .logo {
        height: 5em;
        width: 14em;
    }
    .resLogo {
        animation: 3s slideIn backwards;
        animation-delay: 1s;
        width: 12em;
    }
    #subtitle {
        font-size: 1.4em;
    }
    .tabItem {
        height: 2em;
        padding-top: 3em;
        width: 10em;
        text-align-last: center;
        border: 0.2em #FFF solid;
    }
    .tabItemRegister {
        text-decoration: none;
        height: 2em;
        padding-top: 3em;
        width: 10em;
        text-align-last: center;
        border: 0.2em #FFF solid;
    }
    
    #lodging {
        height: auto;
        margin-right: 3em;
        margin-left: 3em;
    }
    h1 {
        margin-bottom: 0.3em;
    }
    .lodgingForm {
        border: 0.1em #F2F2F2 solid; 
        margin-top: 2.5em;
        width: 40em;
        height: 5em;
        margin-bottom: 2em;
    }
    label {
        margin-left: 2em;
        width: 5em;
    }
    #position{
        animation: 1s jump backwards;
        animation-delay: 7s;
        animation-iteration-count: 10;
    }
    input[type=text] {
        font-size: 1.3em;
    
    }
    ::placeholder {
        color: #000;
        opacity: 1;
        font-weight: 800;
        font-size: 1.2em;
        font-family: 'Raleway', sans-serif, Arial;
    }
    #search {
        width: 15em;
        height: 5.5em;
    }
    #searchIcon {
        display: none;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        background-color: #0065FC;
        border: none;
        color: #FFF;
        width: 10em;
        height: 3.5em;
        font-size: 0.9em;
    }
    .buttonSize {
        font-size: 1.1em;
    }
    #lodgingFilters {
        gap: 4em;
    }
    .filter {
        height: 3em;
        border-bottom: 0.3em #d9d9d9 solid;
        border-top: 0.3em #d9d9d9 solid;
        border-right: 0.3em #d9d9d9 solid; 
        border-left: 0.3em #DEEBFF solid;
    }
    #titleFilter {
        font-size: 1.5em;
    }
    .infoFilter {    
        font-size: 1em;
    }
    #economicFilter {
        width: 15em;
    }
    #familyFilter {
        width: 9.5em;
    }
    #romanticFilter {
        width: 11.5em;
    }
    #animalFilter {
        width: 15em;
    }
    .iconFilter { 
        border-radius: 3em;
        background-color: #DEEBFF;
        height: 3.4em;
        width: 3.4em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .iconSize {
        font-size: 2.2em;
    }
    #infoLogo {
        align-items: center;
        justify-content: start;
    }
    #infoCircle {
        border: 0.2em #DEEBFF solid;
        background-color: #FFF;
        border-radius: 50%;
        width: 1.2em;
        height: 1.2em;
        text-align: center;
        font-family: Georgia;
        margin-right: 0.5em;
    }
}   