@media screen and (min-width: 600px) and (max-width: 900px)
{
    #lodgingTown
    {
        flex-wrap: wrap;
    }
    .lodgingSection {
        flex-wrap: wrap;
    }
    h2 {
        font-size: 2em;
    }
    .lodging {
        width: auto;
        height: auto;
        padding-left: 3em;
        padding-right: 3em;
        padding-bottom: 2em;
    }
    .card {
        width: 21em;
        height: 15em;
    }
    .card img {
        width: 21em;
        height: 9em;
    }
    .infoCard {
        font-size: 1.2em;
    }
    .more {
        font-size: 1.5em;
    }
    .lodgingPop {
        width: auto;
        height: auto;
        padding-right: 3em;
        padding-left: 3em;
        padding-bottom: 3em;

    }
    .iconSize {
        font-size: 2em;
    }
    .lodgingPopCard {
        display: flex;
        flex-direction: row;
        gap: 3.5em;
    }
    h3 {
        margin: 0em;
    }
    .popCard {
        width: 21em;
        height: 15em;
        flex-wrap: wrap;
    }
    .popCard img {
        border-bottom-left-radius: 0em;
        border-top-right-radius: 0.9em;
        width: 21em;
        height: 9em;
    }
    #activity {
        height: auto;
    }
    .activityCards {
        flex-wrap: wrap;
    }
    .actCardStyle {
        width: 37em;
        border-radius: 2em;
    }
    #actCardB, #actCardC, #actCardE, #actCardF {
        height: 15em;
    }
    #actCardB img, #actCardC img, #actCardE img, #actCardF img {
        height: 11em;
    }
    .actCardA {
        height: 34em;
    }
    .actCardA img {
        height: 30em;
    }
    .imgSetting {
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
    }







}   